[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}} %u
Icon={{icon}}
Name={{name}}
GenericName=Opensource todo manager
Terminal=false
Type=Application
MimeType=x-scheme-handler/fairetodoapp
StartupNotify=true
Keywords=Todo;Productivity;Tasks;Projects;
SingleMainWindow=true
X-GNOME-UsesNotifications=true