<h2 class="page-title">{{ pageTitle | transloco }} <span [innerHTML]="pageSubtitle | subtitle:subtitleModifier "></span></h2>
@if (hasDueTask() && dueTasks()) {
<p-panel class="due-task-list-accordion p-card" [toggleable]="true" toggler="header">
  <ng-template #header>
    <div class="flex flex-row gap-3 align-content-center due-task-list">
      <strong class="flex align-items-center gap-1" [style]="{color: 'var(--p-red-700)'}">
        {{ dueTasks().length }} {{'Due tasks' | transloco }}</strong>
      <p-button (onClick)="rescheduleDueTasksForToday($event)" size="small">
        {{'Reschedule for today' | transloco }}
      </p-button>
    </div>
  </ng-template>
  <app-task-list [tasks]="dueTasks()" (showTaskAdd)="onShowTaskAddOverlay($event)" (taskEditEvent)="onEditTask()" [subtasksCount]="subtasksCount"
                 #dueTaskList [showAddTask]="false" />
</p-panel>

}
<app-task-list [tasks]="tasks()" (showTaskAdd)="onShowTaskAddOverlay($event)" (taskEditEvent)="onEditTask()" [subtasksCount]="subtasksCount"
               #appTaskList />

<!-- Task add overlay panel -->
@if (project !== undefined) {
<app-task-add [(showOverlay$)]="showTaskAddOverlay$" (taskAddedEvent)="onAddTask()" [prefilledTitle]="sharetargetUrl"
              (showOverlay$Change)="onShowOverlayChange($event)" [project]="project()" />
} @else {
<app-task-add [(showOverlay$)]="showTaskAddOverlay$" (taskAddedEvent)="onAddTask()" [prefilledTitle]="sharetargetUrl"
              (showOverlay$Change)="onShowOverlayChange($event)" />
}
<p-button icon="pi pi-plus" [rounded]="true" (onClick)="onShowTaskAddOverlay($event)" styleClass="task-list-speeddial" pRipple />