.tasks-container ul.tasks-list {
    padding-inline-start: 20px;
}

li.task-item {
    list-style: none;
    border-bottom: 1px solid #eee;
    display: flex;
    width: calc(100% - 20px);
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
    color: #333;
}

.task-item-handle {
    width: 10px;
}

.task-item-handle i {
    display: none;
    font-size: 10px;
}

li.task-item:hover .task-item-handle i {
    display: inherit;
}

.task-item-menu {
    display: none;
}

li.task-item:hover .task-item-menu {
    display: inherit;
}

:host ::ng-deep .task-item-menu .p-button.p-button-icon-only {
    width: 20px;
}

.task-item-row {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.task-item-row-first {
    display: flex;
    line-height: 30px;
}

.task-item-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.task-item-description {
    font-size: 12px;
    color: #aaa;
}

.task-item-attributes {
    font-size: 12px;
    padding-left: 30px;
}

.task-item-attributes .pi {
    font-size: 10px;
}

.task-item-attributes-duedate {
    color: #058527;
}

.task-add-line {
    display: flex;
    color: #999;
    padding-left: 20px;
    cursor: pointer;
}

.task-add-button {
    padding-right: 10px;
}

.task-add-button i {
    font-size: 12px;
}

.task-add-description {
    min-height: 50px;
}

.task-add-description textarea, .task-add-title .task-title-input {
    width: 280px;
    min-height: 50px;
    border: none;
}