/*::ng-deep .p-card:has(.due-task-list) {*/

.due-task-list-accordion {
    padding: 3px;
    border: none;
    box-shadow: 0px 1px 10px rgba(255, 231, 231, 0.12),
                0px 4px 5px rgba(255, 231, 231, 0.14),
                0px 2px 4px -1px rgba(255, 231, 231, 0.2) !important;
    border-radius: unset;

    ::ng-deep .p-panel {
        border: none;
    }
}

::ng-deep .p-panel:has(.due-task-list) {

    // border: none;
    // transform: scale(90%, 90%);
    font-size: 0.9em;
    padding: 20px;

    .p-panel-header {
        width: 100%;
        align-self: end;
        padding: 18px;
        border-start-start-radius: 6px;
        border-start-end-radius: 6px;

        &:hover {
            background-color: var(--p-menu-item-focus-background);
            cursor: pointer;
        }

        .due-task-list .p-button {
            transform: scale(0.95);
        }
    }

    .p-panel-content {
        transform: scale(0.9);
        padding: 0;
    }
}

::ng-deep .task-list-speeddial {
    display: none;
}

::ng-deep p-badge.due-tasks-badge {
    background-color: #FEE2E2;
    color: #E23636;
    border-radius: 22px;
    width: 42px;
    height: 42px;
    align-items: center;
    margin-right: 12px;
}

@media (max-width: 600px) {
    ::ng-deep .task-list-speeddial {
        display: flex;
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}
