<h2   class="page-title">{{ pageTitle | transloco }} <span [innerHTML]="pageSubtitle | subtitle:subtitleModifier "></span></h2>
@if (hasDueTask && dueTasks) {
    <p-card>
        <div class="flex flex-row gap-3 align-content-center">
            <strong class="flex align-items-center gap-1" [style]="{color: 'var(--p-red-700)'}">
                {{'Due tasks' | transloco }}</strong>
            <p-button variant="text" severity="info" (onClick)="rescheduleDueTasksForToday($event)">{{'Reschedule for today' | transloco }}</p-button>
        </div>
        <app-task-list [tasks]="dueTasks" (showTaskAdd)="onShowTaskAddOverlay($event)" (onEditTask)="onEditTask()" #dueTaskList [showAddTask]="false" />
    </p-card>
}
<app-task-list [tasks]="tasks" (showTaskAdd)="onShowTaskAddOverlay($event)" (onEditTask)="onEditTask()" #appTaskList />

<!-- Task add overlay panel -->
<app-task-add [(showOverlay$)]="showTaskAddOverlay$" (onAddTask)="onAddTask()" [prefilledTitle]="sharetargetUrl" (showOverlay$Change)="onShowOverlayChange($event)" />
