[Desktop Entry]
Version=1.0
Name=FaireToDo App
Comment=Um aplicativo de lista de tarefas com Tauri
Exec=faire-todo-app
Icon=faire-todo-app
Terminal=false
Type=Application
Categories=Utility;Productivity;
StartupNotify=true
