#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

# O buildsystem agora é 'none' ou apenas 'simple', pois não estamos compilando Rust.
# Não precisamos de 'dh-cargo' ou '--with rust'.
%:
	dh $@ --buildsystem=none --skip-missing-doc --skip-systemd-service
