::ng-deep :root  {
    --faire-background: white;
    --faire-edge-background: #3c4ee5;
    --faire-edge-fix-background: #242e85;
    --faire-edge-padding: 0px;
    --faire-hover-background: var(--p-gray-50);
    --faire-hover-text-color: var(--p-primary-contrast);
    --faire-border-color: #e0e0e0;
    --faire-highlight-color: #f59e0b;
    --faire-highlight-bg: rgba(245, 158, 11, 0.1);
    
    --faire-high-border: var(--p-button-danger-border-color);
    --faire-medium-border: var(--p-button-warn-border-color);
    --faire-low-border: var(--p-button-info-border-color);
    
    --faire-high-hover-border: var(--p-button-danger-hover-border-color);
    --faire-high-background: var(--p-toast-error-background);
    
    --faire-medium-hover-border: var(--p-button-warn-hover-border-color);
    --faire-medium-background: var(--p-toast-warn-background);
    
    --faire-low-hover-border: var(--p-button-info-hover-border-color);
    --faire-low-background: var(--p-toast-info-background);

    --faire-theme-switcher-text: var(--p-gray-500);
    --faire-theme-switcher-hover-text: var(--p-gray-200);
}

::ng-deep .dark-mode {
    --faire-background: #1e1e1e;
    --faire-edge-background: #3c4ee5;//var(--p-gray-50);
    --faire-edge-fix-background: #242e85;//var(--p-gray-50);
    --faire-hover-background: color-mix(in srgb, #1e1e1e, white 20%);
    --faire-hover-text-color: var(--p-gray-100);
    --faire-border-color: #333;
    --faire-highlight-color: #fbbf24;
    --faire-highlight-bg: rgba(251, 191, 36, 0.15);
    --faire-high-background: var(--p-toast-error-color);
    --faire-medium-background: var(--p-toast-warn-color);
    --faire-low-background: var(--p-toast-info-color);

    --faire-theme-switcher-text: var(--p-yellow-200);
    --faire-theme-switcher-hover-text: var(--p-yellow-900);
}


body {
    font-size: 14px;
}


img#logo-icon {
    display:none;
}

img#logo {
    height: 40px;
}

p-toolbar {
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    z-index: 1;
}

header {
    height: 62px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: calc(env(safe-area-inset-top) + var(--faire-edge-padding));
    background-color: var(--faire-edge-fix-background);
    z-index: 2;
}

.main {
    padding-bottom: 40px;
    padding-top: calc(82px + env(safe-area-inset-top) + var(--faire-edge-padding));
    padding-left: 5px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    min-height: calc(100% - env(safe-area-inset-bottom) - var(--faire-edge-padding) - 80px);
    background-color: color-mix(in srgb, var(--p-toast-contrast-color), #ffffff 3%);//#f5f5f5;
}

.content {
    max-width: 900px;
    width: 100%;
    padding: 0 16px;
}

footer {
    width: 100%;
    background-color: color-mix(in srgb, var(--p-toast-contrast-color), #ffffff 3%);//#f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(env(safe-area-inset-bottom) + var(--faire-edge-padding) + 80px);
    padding-top: 10px;

    ::ng-deep p {
        margin: 0;
    }
    .footer-edge-fix {
        height: calc(env(safe-area-inset-bottom) + var(--faire-edge-padding));
        background-color: var(--faire-edge-fix-background);
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}

:host ::ng-deep .page-title {
    padding-left: 20px;
}

@media (max-width: 600px) {
    img#logo {
        display: none;
    }

    img#logo-icon {
        display:block;
        width: 50px;
    }
}

@media (max-width: 420px) {
    :host ::ng-deep p-toastitem .p-toast-message {
        width: 95vw;
    }
    :host ::ng-deep .p-toast-top-right {
        left: 0px;
    }
}



.menu-swipe-opener {
    width: 3vw;
    height: 100%;
    // border: solid red 1px;
    position: fixed;
    right: 0;
}
