<header class="header">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <!-- <h2 class="title">{{ title }}</h2> -->
      <a routerLink="/">
        <img src="assets/logo.png" id="logo" aria-label="label" />
        <img src="assets/icon.svg" id="logo-icon" aria-label="logo svg" />
      </a>
    </div>
    <div class="p-toolbar-group-center text-sm">
      @if (this.currentUser) {
      <strong>{{"Sync Status" | transloco}}: </strong> <span>{{this.syncStatus}}</span>
      }
    </div>
    <div class="p-toolbar-group-end">
      <!-- Sidebar toggle -->
      <p-button icon="pi pi-bars" (click)="showSidebar = true"></p-button>
    </div>
  </p-toolbar>
</header>

<section class="main">
  <div class="content">
    <router-outlet 
      (activate)="onActivate($event)"
    />
  </div>
</section>

<footer class="footer">
  <p>Faire todo app - 2024 - <a href="https://github.com/charlesschaefer/faire-todo-app/blob/main/LICENSE">License</a>
  </p>
</footer>

<!-- <p-toast position="bottom-left" /> -->
<p-toast position="bottom-left" #toast>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column align-items-start" style="flex: 1">
      <div class="flex align-items-center gap-2">
        <span class="font-bold text-900">
          {{ message.summary }}
        </span>
      </div>
      <div class="text-base my-3 text-900 flex flex-row gap-3">
        <div class="h-3-rem">
          {{ message.detail }}
        </div>
        <div class="">
          <a href="javascript:;" p-button class="text-sm w-min" severity="info" size="small" (click)="undo()"
             >{{ 'Undo' | transloco }}</a>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast [key]="'task'" [position]="'top-right'" />

<p-toast [key]="'auth-messages'" [position]="'top-center'">
  <ng-template let-message pTemplate="auth-message">
    <div class="flex flex-column align-items-start" style="flex: 1">
      <div class="flex align-items-center gap-2">
        <span class="font-bold text-900">
          {{ message.summary }}
        </span>
      </div>
      <div class="text-base my-3 text-900 flex flex-row gap-3">
        <div class="h-3-rem">
          {{ message.detail }}
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-sidebar [(visible)]="showSidebar" position="right" #sidebar>
  <app-auth></app-auth>

  <div *ngIf="authService.currentUser" class="sync-status">
    <i class="pi" [ngClass]="{
      'pi-sync': syncStatus === 'online',
      'pi-sync pi-spin': syncStatus === 'syncing',
      'pi-exclamation-triangle': syncStatus === 'error',
      'pi-clock': syncStatus === 'offline'
    }"></i>
    {{ syncStatus }}
  </div>

  <p-menu #menu [model]="menuItems" class="side-bar-menu" (onShow)="(showSidebar=false)">
  </p-menu>

  <ng-template pTemplate="footer">
    <div class="flex align-items-center justify-content-around gap-2">
      @if (this.currentUser) {
        <div class="flex align-items-start justify-content-start text-sm">
          <span style="padding-right: 5px;font-weight: bold;">{{"Sync statuts" | transloco}}: </span>{{this.syncStatus}}
        </div>
        <div></div>
      }
      <p-button icon="pi pi-wrench" (onClick)="menuSettings.toggle($event)" />
    </div>
    <p-menu #menuSettings [model]="settingsMenuItems" [popup]="true" class="side-bar-header-menu" appendTo="body" />
  </ng-template>
</p-sidebar>