<header class="header">
  <p-toolbar >
    <div class="p-toolbar-group-start">
      <!-- <h2 class="title">{{ title }}</h2> -->
      <a routerLink="/">
        <img src="assets/logo.png" id="logo" />
        <img src="assets/icon.svg" id="logo-icon" />
      </a>
    </div>
    <div class="p-toolbar-group-center">
    </div>
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-bars" (click)="toggleRightPanel()" />
    </div>
  </p-toolbar>
</header>

<section class="main">
  <router-outlet />
</section>

<section class="right-panel">
  <app-right-panel [visible]="showRightPanel" (changeVisibility)="showRightPanel = $event" />
</section>

<footer class="footer">
  <p>Faire todo app - 2024 - <a href="https://github.com/charlesschaefer/faire-todo-app/blob/main/LICENSE">License</a></p>
</footer>