li.task-item {
    list-style: none;
    border-bottom: 1px solid #eee;
    display: flex;
    width: calc(100% - 20px);
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
    color: #333;
}

li.task-item:hover {
    background-color: #fafafa;
}

.task-item-drag-placeholder {
    background: #fafafa;
    border: dotted 3px #333;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-item-handle {
    width: 10px;
}

.task-item-handle i {
    display: none;
    font-size: 10px;
}

.task-item-mark-complete {
    margin-right: -10px;
    margin-left: 10px;
}

li.task-item:hover .task-item-handle i {
    display: inherit;
}

.task-item-menu {
    display: none;
}

li.task-item:hover .task-item-menu {
    display: inherit;
}

:host ::ng-deep .task-item-menu .p-button.p-button-icon-only {
    width: 20px;
}

.task-item-row {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.task-item-row-first {
    display: flex;
    line-height: 30px;
}

.task-item-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.task-item-title-completed {
    text-decoration: line-through;
}

.task-item-description {
    font-size: 12px;
    color: #aaa;
}

.task-item-attributes {
    font-size: 12px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

.task-item-attributes .pi {
    font-size: 10px;
    margin-right: 5px;
}

.task-item-attributes-duedate {
    color: #058527;
}
