
.task-add-description {
    min-height: 50px;
}

.task-add-description textarea, .task-add-title .task-title-input {
    width: 280px;
    min-height: 50px;
    border: none;
}

.task-add-title .task-title-input {
    outline: none;
}

.task-add-title .task-title-input:focus {
    outline: 1px solid var(--p-focus-ring-color);;
    border-radius: 6px;
}

.task-add-menu {
    display: flex;
    flex-wrap: wrap;
}

.task-add-menu p-calendar,
.task-add-menu p-datepicker {
    display: block;
}

.task-add-dueDate ::ng-deep {
    width: 170px;
    margin: 0px;
    padding: 5px 2px;

    .p-inputtext {
        font-size: var(--p-inputtext-sm-font-size);
    }
}

.task-add-dueTime ::ng-deep {
    width: 110px;
    margin: 0px;
    padding: 5px 2px;

    .p-inputtext {
        font-size: var(--p-inputtext-sm-font-size);
    }
}

.task-add-project {
    margin: 5px 0 5px 2px;
    font-size: var(--p-inputtext-sm-font-size);
}

.task-add-recurring-task {
    // margin-top: 10px;
    font-size: var(--p-inputtext-sm-font-size);
}