
.task-add-description {
    min-height: 50px;
}

.task-add-description textarea, .task-add-title .task-title-input {
    width: 280px;
    min-height: 50px;
    border: none;
}

.task-add-menu {
    display: flex;
}

.task-add-menu p-calendar {
    display: block;
}

.task-add-dueDate {
    width: 170px;
}

.task-add-dueTime {
    width: 110px;
    margin-left: 10px;
}