.task-add-description {
    min-height: 50px;
}

.task-add-description textarea, .task-add-description span, .task-add-title .task-title-input {
    width: 280px;
    min-height: 50px;
    border: none;
}

.task-add-title .task-title-input:focus {
    outline: 1px solid var(--p-focus-ring-color);;
    border-radius: 6px;
}

.task-add-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2px;
}

.task-add-menu p-calendar,
.task-add-menu p-datepicker {
    display: block;
}

.task-add-dueDate ::ng-deep {
    max-width: 10em;
    margin: 0px;
    padding: 5px 2px;
    font-size: var(--p-inputtext-sm-font-size);

    .p-inputtext {
        font-size: var(--p-inputtext-sm-font-size);
        padding: 10px 30px 8px 12px;
    }

    .p-datepicker-input-icon-container {
        top: calc(50% - 0px);
    }
}

.task-add-dueTime ::ng-deep {
    max-width: 7em;
    margin: 0px;
    padding: 5px 2px;
    font-size: var(--p-inputtext-sm-font-size);
    .p-inputtext {
        font-size: var(--p-inputtext-sm-font-size);
        padding: 10px 30px 8px 12px;
    }

    .p-datepicker-input-icon-container {
        top: calc(50% - 0px);
    }
}

::ng-deep .task-add-project, ::ng-deep .task-add-recurring {
    margin: 5px 0 5px 2px;
    font-size: var(--p-inputtext-sm-font-size);

    ::ng-deep .p-select-label {
        padding-right: 1px;
        width: 90%;
    }

    ::ng-deep .p-select-dropdown {
        flex-shrink: 5;
        padding-right: 4px;

        .p-select-dropdown-icon {
            color: var(--p-primary-color);
        }
    }
}

::ng-deep .task-add-priority {
    margin: 5px 0 5px 2px;
    font-size: var(--p-inputtext-sm-font-size);
}

.task-add-datepicker-panel {
    top: calc(50% - 357px / 2);
    left: calc(50% - 306px / 2);
}
