<p-toast />
<p-overlayPanel #taskAddOp (onHide)="onClose($event)">
  <form [formGroup]="taskForm" novalidate (ngSubmit)="saveTask()">
    <p-card>
      <div  class="task-add flex flex-column gap-3">
        <div class="task-add-title">
          <input 
            class="task-title-input font-semibold" 
            pInputText 
            name="title"
            [placeholder]="'Task title' | translate" 
            formControlName="title"
            autocomplete="off"
          />
        </div>
        <div class="task-add-description">
          <textarea
            pInputTextarea
            [placeholder]="'Description' | translate"
            [autoResize]="true"
            rows="1"
            class="text-sm"
            formControlName="description"
          ></textarea>
        </div>
        <div class="task-add-menu">
          <p-calendar
            [showIcon]="true"
            [showButtonBar]="true"
            [showTime]="false"
            inputId="task-add-due-date"
            [placeholder]="'Due date' | translate"
            formControlName="dueDate"
            class="task-add-dueDate"
          />

          <p-calendar
            [showIcon]="true"
            icon="pi pi-clock"
            inputId="task-add-due-time"
            [timeOnly]="true"
            [placeholder]="'Time' | translate"
            formControlName="dueTime"
            class="task-add-dueTime"
          />
          
        </div>
        <p-divider />
        <div class="task-add-buttons flex flex-row justify-content-end gap-1">
          <div>
            <p-button [label]="'Cancel' | translate" (onClick)="clearForm() && taskAddOp.toggle($event) " severity="secondary" />
          </div>
          <div>
            <p-button [label]="'Save' | translate" type="submit" />
          </div>
        </div>
      </div>
    </p-card>
  </form>
</p-overlayPanel>