<h2   class="page-title">{{ 'Projects' | transloco }}</h2>
<p-card [header]="projects.length + (' projects' | transloco)" class="project-list">

  <ul class="project-items">
    @for (project of projects; track project.uuid) {
      <li class="project-item">
        <div class="project-item-name text-sm" (click)="router.navigate([buildUrl(project.uuid)])" (keypress)="router.navigate([buildUrl(project.uuid)])" aria-hidden="true">
          {{project.name}}
        </div>
        <div class="project-item-menu">
          <p-button icon="pi pi-trash" severity="secondary" (onClick)="confirmDeleteProject(project.uuid)" [rounded]="true" />
          <p-button icon="pi pi-pencil" severity="secondary" (onClick)="editProjectDialog(project.uuid)" [rounded]="true" />
        </div>
      </li>
    }
  </ul>
  <div class="project-add-line" (click)="showProjectAddPanel($event)" (keypress)="showProjectAddPanel($event)" aria-hidden="true">
    <div class="project-add-button">
      <i class="pi pi-plus"></i>
    </div>
    <div class="project-add-title">
      <ng-container>{{"Add project" | transloco }}</ng-container>
    </div>
  </div>
</p-card>

<p-overlayPanel #projectAddOp>
  <form [formGroup]="projectForm" novalidate (ngSubmit)="saveProject()">
    <p-card>
      <div  class="project-add flex flex-column gap-3">
        <div class="project-add-name">
          <input 
            class="project-name-input" 
            pInputText 
            name="name"
            [placeholder]="'Project name' | transloco" 
            formControlName="name"
            autocomplete="off"
          />
        </div>
        <p-divider />
        <div class="project-add-buttons flex flex-row justify-content-end gap-1">
          <div>
            <p-button [label]="'Cancel' | transloco" (onClick)="clearForm() && projectAddOp.toggle($event) " severity="secondary" />
          </div>
          <div>
            <p-button [label]="'Save' | transloco" type="submit" />
          </div>
        </div>
      </div>
    </p-card>
  </form>
</p-overlayPanel>
<p-confirmDialog />
<p-dialog [header]="'Edit Profile' | transloco" [modal]="true" [(visible)]="editProjectVisible" [style]="{ width: '25rem' }">
  <form novalidate [formGroup]="projectEditForm" (ngSubmit)="editProject()">
    <div class="project-edit">
      <input 
        type="hidden" 
        name="uuid" 
        formControlName="uuid"
      />
      <input 
        class="project-name-input" 
        pInputText 
        name="name"
        [placeholder]="'Project name' | transloco" 
        formControlName="name"
        autocomplete="off"
       
      />
    </div>
    <p-divider />
    <div class="flex justify-content-end gap-2">
        <p-button [label]="'Cancel' | transloco" severity="secondary" (onClick)="editProjectVisible = false" />
        <p-button [label]="'Save' | transloco" type="submit" />
    </div>
  </form>
</p-dialog>

<p-toast />
