:host ::ng-deep .p-card {
    max-width: 600px
}

ul.project-items {
    padding-inline-start: 20px;
}

::ng-deep .project-add-line {
    display: flex;
    color: #999;
    padding: 16px 28px;
    cursor: pointer;
    
    &:hover {
        background-color: var(--p-gray-50);
    }
}

.project-add-button {
    padding-right: 10px;
    color: var(--p-indigo-600);
}

.project-add-button i {
    font-size: 12px;
}

li.project-item {
    list-style: none;
    border-bottom: 1px solid var(--faire-border-color, var(--p-content-border-color));
    display: flex;
    width: calc(100% - 20px);
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
    background-color: var(--faire-background-color);
    color: var(--p-text-color);
    line-height: 40px;
}

li.project-item:hover {
    background-color: var(--p-gray-50);
}

.project-item-menu {
    display: none;
}

li.project-item:hover .project-item-menu {
    display: inherit;
}

:host ::ng-deep .project-item-menu .p-button.p-button-icon-only {
    margin-right: 10px;
}

.project-item-name {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.project-name-input {
    border: none;
}

.project-edit {
    margin-top: 10px;
}
