@use "../task-add/task-add.component.scss";

.task-edit-card {
    height: fit-content;
    min-height: 370px;
}

.task-add-description textarea, .task-add-description span, .task-add-title .task-title-input {
    min-width: 280px;
    width: 100%;
}

:host ::ng-deep .p-inplace-display {
    padding: inherit;
    width: inherit;
}

:host ::ng-deep .p-inplace-display .placeholder-like-inplace {
    color: var(--p-form-field-placeholder-color);
    border-bottom: none;
}

:host ::ng-deep .p-inplace-display:hover {
    background: none;
}

.task-add-line {
    display: flex;
    color: #999;
    padding-left: 20px;
    cursor: pointer;
}

.task-add-button {
    padding-right: 10px;
    color: var(--p-indigo-600)
}

.task-add-button i {
    font-size: 12px;
}

:host ::ng-deep .task-add-list-subtasks .p-accordionheader {
    font-size: 13px;
    font-weight: 500;
}

:host ::ng-deep .task-add-list-subtasks .p-accordionpanel {
    border-bottom: none;
}

:host ::ng-deep .task-add-priority {
    margin: 5px 0 5px 2px;
    font-size: var(--p-inputtext-sm-font-size);
}
