<p-card>
  <form [formGroup]="taskForm" novalidate (ngSubmit)="saveTask()" id="task-edit-form">
    <div  class="task-add flex flex-column gap-3">
      <div class="task-add-title">
        @if (task.title) {
        <p-inplace (onActivate)="onActivateField($event)">
          <ng-template pTemplate="display" >
            <span [innerHTML]="task.title | linkify"></span>
          </ng-template>
          <ng-template pTemplate="content">
            <!-- <input class="task-title-input font-semibold px-2" pInputText type="text" name="title"
              [placeholder]="'Task title' | transloco" formControlName="title" (ngModelChange)="onTitleChange($event)" /> -->
            <textarea 
              class="task-title-input font-semibold px-2" 
              pInputText type="text" 
              name="title"
              [placeholder]="'Task title' | transloco" 
              formControlName="title" 
              (ngModelChange)="onTitleChange($event)"
              (keydown.enter)="onTitleEnter($event)"
            ></textarea>
          </ng-template>
        </p-inplace>
        } @else {
          <textarea class="task-title-input font-semibold px-2" pInputText type="text" name="title"
            [placeholder]="'Task title' | transloco" formControlName="title" (ngModelChange)="onTitleChange($event)"
            (keydown.enter)="onTitleEnter($event)"></textarea>
        }
        
          <!-- [autofocus]="true" -->
      </div>
      <div class="task-add-description">
        @if (task.description) {
        <p-inplace (onActivate)="onActivateField($event)" >
          <ng-template pTemplate="display">
            @if (task.description === "") {
              <span class="placeholder-like-inplace text-sm">{{ "Description" | transloco }}</span>
            } @else {
              <span [innerHTML]="task.description | linkify"  class="text-sm"></span>
            }
          </ng-template>
          <ng-template pTemplate="content" [type]="'test'">
            <textarea
              pInputTextarea
              [placeholder]="'Description' | transloco"
              [autoResize]="true"
              rows="1"
              class="text-sm"
              formControlName="description"
            ></textarea>
          </ng-template>
        </p-inplace>
        } @else {
        <textarea  pInputTextarea [placeholder]="'Description' | transloco" [autoResize]="true" rows="1" class="text-sm"
          formControlName="description"></textarea>
        }
      </div>
      <div class="task-add-menu">
        <p-calendar
          [showIcon]="true"
          [showButtonBar]="true"
          [showTime]="false"
          inputId="task-add-due-date"
          [placeholder]="'Due date' | transloco"
          formControlName="dueDate"
          class="task-add-dueDate"
        />
        <p-calendar
          [showIcon]="true"
          icon="pi pi-clock"
          inputId="task-add-due-time"
          [timeOnly]="true"
          [placeholder]="'Time' | transloco"
          formControlName="dueTime"
          class="task-add-dueTime"
        />

        <p-dropdown 
          [options]="projects"
          optionLabel="name"
          optionValue="uuid"
          formControlName="project_uuid"
          name="project_uuid"
          [placeholder]="'Project' | transloco" 
          class="task-add-project"
        />
      </div>
      <div class="task-add-recurring-task align-items-center flex flex-row gap-3">
        <i class="pi pi-history"></i>
        <p-dropdown 
          [options]="recurringOptions"
          formControlName="recurring"
          name="recurring"
          class="task-add-recurring"
          inputId="recurring"
          id="recurring"
        />
      </div>
      @if (subTasks?.length) {
      <div class="task-add-list-subtasks">
        <p-accordion>
          <p-accordionTab [header]="subtasksTitle()" [selected]="true">
            <div>
            @for (task of subTasks; track task.uuid) {
              <app-subtask [task]="task" [projects]="projectsMap" />
            }
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
      }
      <p-divider [autofocus]="true" />
      <div class="task-add-subtask">
        <!--eslint-disable-next-line @angular-eslint/template/interactive-supports-focus-->
        <div class="task-add-line" (click)="showTaskAddPanel($event)" (keypress)="showTaskAddPanel($event)">
          <div class="task-add-button">
            <i class="pi pi-plus"></i>
          </div>
          <div class="task-add-title">
            <span  >{{ 'Add subtask' | transloco }}</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-card>

<app-task-add [(showOverlay$)]="showTaskAddOverlay$" [parent]="task" (onAddTask)="onAddTask()" />