<p-card>
  <form [formGroup]="taskForm" novalidate (ngSubmit)="saveTask()" id="task-edit-form">
    <div  class="task-add flex flex-column gap-3">
      <div class="task-add-title">
        <input 
          class="task-title-input font-semibold" 
          pInputText 
          name="title"
          [placeholder]="'Task title' | translate" 
          formControlName="title"
        />
      </div>
      <div class="task-add-description">
        <textarea
          pInputTextarea
          [placeholder]="'Description' | translate"
          [autoResize]="true"
          rows="1"
          class="text-sm"
          formControlName="description"
        ></textarea>
      </div>
      <div class="task-add-menu">
        <p-calendar
          [showIcon]="true"
          [showButtonBar]="true"
          [showTime]="false"
          inputId="task-add-due-date"
          [placeholder]="'Due date' | translate"
          formControlName="dueDate"
          class="task-add-dueDate"
        />
        <p-calendar
          [showIcon]="true"
          icon="pi pi-clock"
          inputId="task-add-due-time"
          [timeOnly]="true"
          [placeholder]="'Time' | translate"
          formControlName="dueTime"
          class="task-add-dueTime"
        />
        
      </div>
    </div>
  </form>
</p-card>