.sync-otp-data {
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}

.sync-otp-field {
    margin-top: 10px;
    margin-bottom: 5px;
}

.sync-ip-field {
    margin-bottom: 5px;
}

.sync-known-ip-checkbox {
    margin-bottom: 30px;
}

.sync-otp-field .otp-field {
    margin-top: 10px;
    margin-bottom: 15px;
}

.sync-progress-bar {
    margin-top: 10px;
}