@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
}

.field {
  padding: 10px;
  margin-top: 15px;
}

