@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2");
}

html {
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
  padding-top: calc(constant(safe-area-inset-top) + var(--faire-edge-padding));
  padding-top: calc(env(safe-area-inset-top) + var(--faire-edge-padding));
  padding-bottom: calc(constant(safe-area-inset-bottom) + var(--faire-edge-padding));
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--faire-edge-padding));
  background-color: var(--faire-edge-background);
}

.field {
  padding: 10px;
  margin-top: 15px;
}
