<h2 translate class="page-title">Search</h2>

<div class="search">
  <div class="search-box">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input 
        type="text" 
        pInputText 
        [placeholder]="'Search' | translate"
        [(ngModel)]="searchValue"
        class="search-box-input"
      />
    </p-iconField>
    <p-button [label]="'Search' | translate" (onClick)="search()" />
  </div>
</div>

@if (tasks?.length) {
  <app-task-list [tasks]="tasks" [completedTasks]="completedTasks" (showTaskAdd)="onShowTaskAddOverlay($event)" (onEditTask)="onEditTask()" [showAddTask]="false" />
}