<h2   class="page-title">{{ 'Search' | transloco }}</h2>

<div class="search">
  <div class="search-box">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input 
        type="text" 
        pInputText 
        [placeholder]="'Search' | transloco"
        [(ngModel)]="searchValue"
        class="search-box-input"
      />
    </p-iconField>
    <p-button [label]="'Search' | transloco" (onClick)="search()" />
  </div>
</div>

@if (tasks().length || completedTasks().length) {
  <app-task-list [tasks]="tasks()" [completedTasks]="completedTasks()" (showTaskAdd)="onShowTaskAddOverlay($event)" (taskEditEvent)="onEditTask()" [showAddTask]="false" />
}
