name: Snapcraft Builds

on:
    push:
        branches:
            - release
    workflow_dispatch:

jobs:
  build-snapcraft:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: setup node
      uses: actions/setup-node@v4
      with:
          node-version: lts/*
          #cache: 'npm'
    
    - name: Installs shelljs
      run: npm i shelljs

    - name: generate environment files
      run: npm run generate-env
      env: 
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}

    - name: Build Snap package
      uses: snapcore/action-build@v1
      id: build
    
    - name: Publish to snap store
      uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}
      with:
        snap: ${{ steps.build.outputs.snap }}
        release: edge
