<p-dataView #dv [value]="tasks">
  <ng-template pTemplate="list" let-tasks>
    <div class="tasks-container">
      @if (tasks?.length) {
      <ul class="tasks-list" cdkDropList (cdkDropListDropped)="onTaskOrder($event)">
        @for (task of tasks; track task.id) {
          <app-task [task]="task" (onTaskRemoved)="onTaskRemoved($event)" (onEditTask)="onTaskEdit()" />
        }
      </ul>
      }
      @if (showAddTask) {
      <div class="task-add-line" (click)="showTaskAddPanel($event)">
        <div class="task-add-button">
          <i class="pi pi-plus"></i>
        </div>
        <div class="task-add-title">
          <ng-container translate>Add task</ng-container>
        </div>
      </div>
    }
    </div>
  </ng-template>
</p-dataView>
