<!-- <p-dataView #dv [value]="tasks"  rows="2">
  <ng-template pTemplate="list" let-tasks> -->
<div class="tasks-container">
  @if (tasks?.length) {
  <ul class="tasks-list" dndDropzone (dndDrop)="onTaskDrop($event)" [dndHorizontal]="false" dndEffectAllowed="copyMove">
    <div dndPlaceholderRef class="dndPlaceholder border rounded-1 bg-opacity-25">
      Esse é o placeholder
    </div>
    @for (task of tasks; track task.id) {
    <div [dndDraggable]="task" [dndEffectAllowed]="'all'">
      <app-task [task]="task" [projects]="projects" (onTaskRemoved)="onTaskRemoved($event)"
        (onEditTask)="onTaskEdit()" />
    </div>
    }
  </ul>
  }
  @if (completedTasks?.length) {
  <p-panel [toggleable]="true" [header]="'Completed tasks' | translate" [collapsed]="true">
    <ul class="tasks-list" dndDropzone (dndDrop)="onTaskDrop($event)" [dndHorizontal]="false"
      dndEffectAllowed="copyMove">
      <div dndPlaceholderRef class="dndPlaceholder border rounded-1 bg-opacity-25">
        Esse é o placeholder
      </div>
      @for (task of completedTasks; track task.id) {
      <div [dndDraggable]="true" [dndEffectAllowed]="'all'">
        <app-task [task]="task" [projects]="projects" (onTaskRemoved)="onTaskRemoved($event)"
          (onEditTask)="onTaskEdit()" />
      </div>
      }
    </ul>
  </p-panel>
  }
  @if (showAddTask) {
  <div class="task-add-line" (click)="showTaskAddPanel($event)">
    <div class="task-add-button">
      <i class="pi pi-plus"></i>
    </div>
    <div class="task-add-title">
      <span translate>Add task</span>
    </div>
  </div>
  }
</div>
<!-- </ng-template>
</p-dataView> -->