.tasks-container {
    
}


.tasks-container ul.tasks-list {
    padding-inline-start: 0;//5px;
    margin-bottom: 0;
}

.task-add-line {
    display: flex;
    color: var(--p-indigo-600);
    padding: 16px 28px;
    cursor: pointer;
    background: var(--p-primary-contrast-color);
}

.task-add-line:hover {
    background: var(--p-indigo-50);
}

.task-add-button {
    padding-right: 10px;
}
