<h2   class="page-title">{{ 'Settings' | transloco }}</h2>

<div class="settings">
  <p-card>
    <form [formGroup]="settingsForm" novalidate (submit)="saveSettings()">
      <h4 translation>Notifications</h4>
      <div class="field">
        <label for="notifications">
          <p-checkbox 
            name="notifications"
            [binary]="true"
            inputId="notifications"
            formControlName="notifications"
            class="settings-item-checkbox"
            (onChange)="receiveNotificationChanged()"
          />
          <span  >{{ 'Receive app Notifications?' | transloco }}</span>
        </label>
      </div>
      <div class="field">
        <label for="today-notifications">
          <p-checkbox
            name="today-notifications"
            [binary]="true"
            inputId="today-notifications"
            formControlName="todayNotifications"
            class="settings-item-checkbox"
            (onChange)="todayNotificationsChanged()"
          />
          <span  >{{ 'Notify tasks due today?' | transloco }}</span>
        </label>
      </div>
      <div class="field">
        <label for="notification-time">
          <span>{{ 'Time to notify today tasks:' | transloco }}</span>
          
          <p-calendar
            [showIcon]="true"
            icon="pi pi-clock"
            inputId="notification-time"
            [timeOnly]="true"
            stepMinute="10"
            [placeholder]="'Time' | transloco"
            formControlName="notificationTime"
          />
        </label>
      </div>

      @if (isMobile === false) {
      <div class="field">
        <label for="autostart">
          <p-checkbox 
            name="autostart"
            [binary]="true"
            inputId="autostart"
            formControlName="autostart"
            class="settings-item-checkbox"
          />
          <span  >{{ 'Start app with your computer?' | transloco }}</span>
        </label>
      </div>
      }
      <p-button [label]="'Save' | transloco" type="submit" />
    </form>
  </p-card>
</div>
<p-toast />
<!-- Setttings: notifications, hide on close (win/lin), today tasks notification time -->
